<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} | {{ h.appName }}</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <link rel="stylesheet" href="/css/basic.min.css" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    {% include "partials/nav.html" %}

    <div class="container">
      {% include "partials/flash-messages.html" %}

      <!-- main -->
      {% block content %}{% endblock %}
    </div>

    {% include "partials/footer.html" %}
  </body>

  <script src="/js/script.js"></script>

  {%block extrascript%}{%endblock%}
</html>
