<nav class="nav" tabindex="-1" onclick="this.focus()">
  <div class="container">
    <a class="pagename" href="/">{{ h.appName }}</a>
    <!-- TODO: this could be a config object that we can iterate over -->
    {% if user %}
    <a
      href="/auth/profile"
      class="{{ 'current' if currentPath == '/auth/profile' else '' }}"
      >{{ user.fullName }}'s profile</a
    >
    <a href="/logout">logout</a>
    {% else %}
    <a
      class="{{ 'current' if currentPath == '/auth/login' else '' }}"
      href="/auth/login"
      >login</a
    >
    <a
      class="{{ 'current' if currentPath == '/auth/signup' else '' }}"
      href="/auth/signup"
      >signup</a
    >
    {% endif %}
  </div>
</nav>
