<nav class="nav" tabindex="-1" onclick="this.focus()">
  <div class="container">
    <a class="pagename" href="/">{{ h.appName }}</a>
    <!-- TODO: this could be a config object that we can iterate over -->
    {% if user %}
    <a
      href="/auth/profile"
      class="{{ 'current' if currentPath == '/auth/profile' else '' }}"
      >{{ user.fullName }}'s profile</a
    >

    {% if user.userType == 'admin' %}
    <a
      href="/admin/patients"
      class="{{ 'current' if '/admin/patients' in currentPath else '' }}"
      ><span role="img" aria-label="patients page">🤕</span> Patients</a
    >
    <a
      href="/admin/messages"
      class="{{ 'current' if '/admin/messages' in currentPath else '' }}"
      ><span role="img" aria-label="messages page">✉️</span> Messages</a
    >
    <a
      href="/admin/senders"
      class="{{ 'current' if '/admin/senders' in currentPath else '' }}"
      ><span role="img" aria-label="senders page">📱</span> Senders</a
    >
    {% endif %}

    <a href="/logout">Logout</a>
    {% else %}
    <a
      class="{{ 'current' if currentPath == '/auth/login' else '' }}"
      href="/auth/login"
      >Login</a
    >
    {% endif %}
  </div>
</nav>
