/*
* Add extra styles here. 
* The project uses basic.min.css from https://github.com/aktsbot/basic.css
*
* taken from : https://mincss.com/docs.html
* */

.flash {
  display: block;
  margin-top: 0.5em;
  padding: 2em;
  border-left: 5px solid;
}

.flash-error {
  border-color: #e44;
  background: #fdd;
}

.flash-success {
  border-color: #2d2;
  background: #dfd;
}

/* start extra buttons */
.btn-a {
  background: #0ae;
}

.btn-a:hover {
  background: #09d; /* darken(@btn-a-bg, 5%) */
}

.btn-a:active,
.btn-a:focus {
  background: #08b; /* darken(@btn-a-bg, 10%) */
}

.btn-b {
  background: #3c5;
}
.btn-b:hover {
  background: #2b4; /* darken(@btn-b-bg, 5%) */
}
.btn-b:active,
.btn-b:focus {
  background: #2a4; /* darken(@btn-b-bg, 10%) */
}

.btn-c {
  background: #d33;
}
.btn-c.hover {
  background: #c22; /* darken(@btn-c-bg, 5%) */
}
.btn-c:active,
.btn-c:focus {
  background: #b22; /* darken(@btn-c-bg, 10%) */
}
/* end buttons */

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 0.5rem;
}

.ws-pre {
  white-space: pre-line;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.py-100px {
  padding-top: 100px;
  padding-bottom: 100px;
}

.back-btn {
  margin-top: 10px;
}

.original-data {
  background: #ccc;
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
  color: #333;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.d-none {
  display: none;
}

.success-message-indicator {
  color: #2a4;
  font-weight: bold;
}

.failed-message-indicator {
  color: #b22;
  font-weight: bold;
}

.status--00-created {
  color: #444;
  text-decoration: underline;
}

.status--01-sent-to-sender {
  color: darkgreen;
  text-decoration: underline;
}

.status--03-sent-to-patient {
  color: #2a4;
  font-weight: bold;
}

.status--10-try-another-sender {
  color: #b22;
  font-weight: bold;
}

.d-flex {
  display: flex;
}
