/*
* Add extra styles here. 
* The project uses basic.min.css from https://github.com/aktsbot/basic.css
*
* taken from : https://mincss.com/docs.html
* */

.flash {
  display: block;
  margin-top: 0.5em;
  padding: 2em;
  border-left: 5px solid;
}

.flash-error {
  border-color: #e44;
  background: #fdd;
}

.flash-success {
  border-color: #2d2;
  background: #dfd;
}
