{%extends "partials/layout.html"%}

<!-- edit patient -->
{% block content %}

{% include 'partials/back-btn.html' %}

<h1>Edit patient</h1>

<div class="original-data">
  <h3>Original patient details</h3>
  <p>Name: {{ patient.name }}</p>
  <p>Patient ID: {{ patient.patientId }}</p>
  <p>Mobile numbers: {{ patient.mobileNumbers | join(', ') }}</p>

  <p>Messages every: {{ patient.messagesEvery | join(', ') }}</p>

  <p>Tag:
  {% if patient.tag %}
  <button class="pill-tag" style="background-color: {{ patient.tag.backgroundColor }}; color: {{ patient.tag.textColor }}">{{ patient.tag.name }}</button>
  {% else %}
  <span>No tag set</span>
  {% endif %}
  </p>

  <p class="ws-pre">Notes: {{ patient.notes }}</p>
</div>

<h2>Update patient - {{ patient.name }}</h2>
<form action="/admin/patients/{{ patient.uuid }}/update" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" required value="{{ patient.name }}" />

  
  <label for="patientId">Patient ID</label>
  <input
    type="text"
    id="patientId"
    name="patientId"
    required
    value="{{ patient.patientId }}"
  />
  <label for="mobileNumbers">Mobile numbers (comma separated)</label>
  <textarea
    rows="3"
    id="mobileNumbers"
    name="mobileNumbers"
    placeholder="9899098909,8734560987"
  >{{ patient.mobileNumbers | join(',') }}</textarea>

  <fieldset>
    <legend>Message should be sent every</legend>

    {% for d in patientMessageDays %}

    <div>
      <input
        type="checkbox"
        id="{{ d.value }}"
        name="messagesEvery[]"
        value="{{d.value}}"
        {{ 'checked' if d.value in patient.messagesEvery else '' }}
      />
      <label for="{{ d.value }}">{{ d.text }}</label>
    </div>
    {% endfor %}
  </fieldset>

  <fieldset>
    <legend>Tag for this patient</legend>

    {% for tag in allTags %}
    <div>
      <input
        type="radio"
        id="{{ tag._id }}"
        name="tag"
        value="{{ tag._id }}"
        {{ 'checked' if (patient.tag and patient.tag._id.toString() == tag._id.toString()) else '' }}
      />
      <label for="{{ tag._id }}" class="pill-tag" style="background-color: {{ tag.backgroundColor }}; color: {{ tag.textColor }}">{{ tag.name }}</label>
    </div>
    {% endfor %}
  </fieldset>

  <label for="notes">Notes</label>
  <textarea id="notes" name="notes" rows="5">{{ patient.notes }}</textarea>

  <button class="btn btn-b" type="submit">Update patient</button>
</form>

{% endblock %}
