{%extends "partials/layout.html"%}

<!-- edit message -->
{% block content %} {% include 'partials/back-btn.html' %}

<h1>Edit message</h1>

<div class="original-data">
  <h3>Original message content</h3>
  <p class="ws-pre">{{message.content}}</p>
</div>

<h2>Update message</h2>
<form action="/admin/messages/{{ message.uuid }}/update" method="POST">
  <label for="content">Message content</label>
  <textarea
    rows="5"
    id="content"
    name="content"
    placeholder="This is the SMS that you'd be sending to patients"
    required
  >
{{ message.content }}</textarea
  >

  <button class="btn btn-b" type="submit">Update message</button>
</form>

{% endblock %}
