{%extends "partials/layout.html"%}

<!-- tags to be assigned to messages or patients -->

{% block content %}
<h1>Tags</h1>

<p>
  These can be assigned to messages and patients.

  <a href="#add-more-tags">Add a new tag?</a>
</p>

<div>
  <h2>Current tags ({{ allTags | length }})</h2>

  {% if not allTags | length %}
  <p>No tags added yet.</p>
  {% endif %}

  {% for tag in allTags %}
  <button class="pill-tag" style="background-color: {{ tag.backgroundColor }}; color: {{ tag.textColor }}">
    {{ tag.name }}
  </button>
  {% endfor %}

  <div id="add-more-tags" class="d-flex flex-wrap">
    <div class="flex-col">
      <h2>Add a tag</h2>

      <form method="POST" action="/admin/tags/new">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Alcoholic"
          required
          oninput="tagInputChange(this)"
          autofocus
        />

        <label for="backgroundColor">Background color</label>
        <input
          type="color"
          name="backgroundColor"
          id="backgroundColor"
          value="#ff0000"
          oninput="tagInputChange(this)"
          required
        />

        <label for="textColor">Text color</label>
        <input
          type="color"
          name="textColor"
          id="textColor"
          value="#ffffff"
          oninput="tagInputChange(this)"
          required
        />

        <button class="btn btn-b" type="submit">Create tag</button>
      </form>
    </div>

    <div class="flex-col" style="padding-left: 0.5em">
      <h3>Preview</h3>

      <button
        class="pill-tag"
        id="preview"
        style="background-color: #ff0000; color: #ffffff"
      >
        Alcoholic
      </button>
    </div>
  </div>
</div>

{% endblock %}

<!-- stuff to manage preview -->
{% block extrascript %}
<script>
  const defaults = {
    backgroundColor: "#ff0000",
    textColor: "#ffffff",
    name: "Alcoholic",
  };
  const preview = document.querySelector("#preview");

  function tagInputChange(el) {
    if (!preview) {
      return;
    }
    if (!el) {
      return;
    }

    if (el.id === "name") {
      if (!el.value) {
        preview.innerText = defaults.name;
      } else {
        preview.innerText = el.value;
      }
    } else if (el.id === "backgroundColor") {
      if (!el.value) {
        preview.style["background-color"] = defaults.backgroundColor;
      } else {
        preview.style["background-color"] = el.value;
      }
    } else if (el.id === "textColor") {
      if (!el.value) {
        preview.style["color"] = defaults.textColor;
      } else {
        preview.style["color"] = el.value;
      }
    }
  }
</script>
{% endblock %}
