{%extends "partials/layout.html"%} 

{% block content %}

  {% include 'partials/back-btn.html' %}

  <h1>Edit sender</h1>

  <div class="original-data">
    <h3>Original sender information</h3>
    <p>Name: {{ sender.name }}</p>
    <p>Mobile number: {{ sender.mobileNumber }}</p>

    <strong>Login details</strong>
    <p>Email: {{ sender.user.email }}</p>

    <p>Notes: <span class="ws-pre">{{ sender.notes }}</span></p>
  </div>


  <h3>Update sender - {{ sender.name }}</h3>
  <form action="/admin/senders/{{ sender.uuid }}/update" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required value="{{ sender.name }}"/>
  
    <label for="mobileNumber">Mobile number</label>
    <input type="text" id="mobileNumber" name="mobileNumber" value="{{ sender.mobileNumber }}"/>


    <fieldset>
      <legend>Login details for sender</legend>
        <label for="senderEmail">Email</label>
        <input type="email" id="senderEmail" name="senderEmail" required value="{{ sender.user.email }}"/>

        <small>Password can be set via the forgot password page.</small>
    </fieldset>

    <label for="notes">Notes</label>
    <textarea id="notes" name="notes" rows="5">{{ sender.notes }}</textarea>


    <button class="btn btn-b" type="submit">Update sender</button>
  </form>

{% endblock %}
