{%extends "partials/layout.html"%}

<!-- add message -->
{% block content %}

<h1>New message</h1>

<form action="/admin/messages/new" method="POST">
  <label for="content">Message content</label>
  <textarea
    rows="5"
    id="content"
    name="content"
    value="{{body.content}}"
    placeholder="This is the SMS that you'd be sending to patients"
    required
    class="heavy"
  ></textarea>


  <fieldset>
    <legend>Tag for this message</legend>

    {% for tag in allTags %}
    <div>
      <input
        type="radio"
        id="{{ tag._id }}"
        name="tag"
        value="{{ tag._id }}"
      />
      <label for="{{ tag._id }}" class="pill-tag" style="background-color: {{ tag.backgroundColor }}; color: {{ tag.textColor }}">{{ tag.name }}</label>
    </div>
    {% endfor %}
  </fieldset>


  <label for="notes">Optional notes</label>
  <textarea
    rows="3"
    id="notes"
    name="notes"
    value="{{body.notes}}"
    placeholder="Optional: Any help text to make sense of the above message. For example, if the message above is in Tamil, you can write the Eng/Tanglish meaning here."
  ></textarea>

  <button class="btn btn-b" type="submit">Create message</button>
</form>

{% endblock %}
