{%extends "partials/layout.html"%}

<!-- edit message -->
{% block content %} {% include 'partials/back-btn.html' %}

<h1>Edit message</h1>

<div class="original-data">
  <h3>Original message</h3>
  
  <h4>Content</h4>
  <p class="ws-pre heavy">{{message.content}}</p>

  <h4>Tag</h4>
  <button class="pill-tag" style="background-color: {{ message.tag.backgroundColor }}; color: {{ message.tag.textColor }}">{{ message.tag.name }}</button>

  <h4>Notes</h4>
  <p class="ws-pre">{{message.notes}}</p>
</div>

<h2>Update message</h2>
<form action="/admin/messages/{{ message.uuid }}/update" method="POST">
  <label for="content">Message content</label>
  <textarea
    rows="5"
    id="content"
    name="content"
    placeholder="This is the SMS that you'd be sending to patients"
    required
    class="heavy"
  >
{{ message.content }}</textarea
  >

  <fieldset>
    <legend>Tag for this message</legend>

    {% for tag in allTags %}
    <div>
      <input
        type="radio"
        id="{{ tag._id }}"
        name="tag"
        value="{{ tag._id }}"
        {{ 'checked' if (message.tag and message.tag._id.toString() == tag._id.toString()) else '' }}
      />
      <label for="{{ tag._id }}" class="pill-tag" style="background-color: {{ tag.backgroundColor }}; color: {{ tag.textColor }}">{{ tag.name }}</label>
    </div>
    {% endfor %}
  </fieldset>
  
  <label for="notes">Optional notes</label>
  <textarea
    rows="3"
    id="notes"
    name="notes"
    placeholder="Optional: Any help text to make sense of the above message. For example, if the message above is in Tamil, you can write the Eng/Tanglish meaning here."
  >{{ message.notes }}</textarea>

  <button class="btn btn-b" type="submit">Update message</button>
</form>

{% endblock %}
