{%extends "partials/layout.html"%} 

{% block content %}
  <h1>Senders ({{ allCount }})</h1>
  <p>
    These are people who are aiding in sending SMS for the platform
    from their mobile phones.
  </p>
  
  <div>
    <a href="/admin/senders/new">Add new sender</a>
  </div>

  <div class="mt-1">
    <form method="GET">
      <input type="text" id="search" name="search" 
        value="{{ query.search }}"
        placeholder="search by name or mobile number" aria-label="search by name or mobile number" />
    </form>
  </div>

  <div class="text-center">
    <div>
      {% if pagination.page != 1 %}
      <a href="{{ pagination.urls.prev }}">&lt;Prev</a>
      {% endif %}
      <span>Page {{ pagination.page }} of {{ pagination.totalPages  }}</span>
      {% if pagination.page < totalPages %}
      <a href="{{ pagination.urls.next }}">Next&gt;</a>
      {% endif %}
    </div>

    <div>
      <small>{{ totalCount }} result(s) found</small>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Details</th>
        <th>Notes</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      {% for s in senders %}
      <tr>
        <td>{{ loop.index }}</td>

        <td>
          {{ s.name }} | {{ s.user.status }}<br />
          {{ s.mobileNumber }} <br />
          {{ s.user.email }} <br />
        </td>

        <td class="ws-pre">
          {{ s.notes }}
        </td>

        <td>
          <a href="edit">Edit details</a> |
          <a href="delete">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
