{%extends "partials/layout.html"%}

<!-- reports -->
{% block content %}
<h1>Report ({{allCount}})</h1>
<p>Daily reports for schedules message runs.</p>
<p>Tip: You can export a csv of results if you filter with a "From" and "To" date.</p>

<div class="mt-1">

  <details {{ 'open' if showFilters else '' }}>
    <summary>Try filters?</summary>
    <form method="GET">
      <div class="row">
        <div class="col c6">
          <label>From
            <input type="date" name="fromDate" value="{{ query.fromDate }}" />
          </label>
        </div>
        <div class="col c6">
          <label>To
            <input type="date" name="toDate" value="{{ query.toDate }}" />
          </label>
        </div>
      </div>

      <input
        type="text"
        id="search"
        name="search"
        value="{{ query.search }}"
        placeholder="search by patient id or message text"
        aria-label="search by patient id or message text"
      />

      <button type="submit" class="btn btn-sm">Filter</button>
      <a href="/admin">Clear filters</a>
    </form>
  </details>

  {% if query.fromDate and query.toDate %}
  <div>
    <a class="btn btn-c btn-sm" href="/admin/csv?fromDate={{query.fromDate}}&toDate={{query.toDate}}">
    Export results as CSV
    </a>
  </div>
  {% endif %}
</div>

<div class="text-center">
  <div>
    {% if pagination.page != 1 %}
    <a href="{{ pagination.urls.prev }}">&lt;Prev</a>
    {% endif %}
    <span>Page {{ pagination.page }} of {{ pagination.totalPages }}</span>
    {% if pagination.page < pagination.totalPages %}
    <a href="{{ pagination.urls.next }}">Next&gt;</a>
    {% endif %}
  </div>

  <div>
    <small>{{ totalCount }} result(s) found</small>
  </div>
</div>

<div style="overflow-x: auto;">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Patient</th>
        <th>Message</th>
        <th>Sender</th>
        <th>Status</th>
      </tr>
    </thead>
  
    <tbody>
      {% for r in reports %}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
  
        <td>
          <span class="fix-datetime" data-fix="date">{{ r.forDate }}</span> <br />
            <em>
              <small>Last update: 
                <span class="fix-datetime">{{ r.updatedAt }}</span>
              </small>
            </em>
        </td>
  
        <td>
          {{ r.patient.patientId }} <br />
          {{ r.patient.name }}
        </td>
  
        <td class="ws-pre heavy">{{ r.messageText }}</td>
  
        <td>{% if r.sender %} {{ r.sender.fullName }} {% endif %}</td>
  
        <td>
          <span class="status--{{ r.status }}">
            {% if r.status == '00-created' %}
            <i> Added to queue </i>
            {% elif r.status == '01-sent-to-sender' %}
            <i>Sender assigned </i>
            {% elif r.status == '03-sent-to-patient' %}
            <i> Sent to patient </i>
            {% elif r.status == '10-try-another-sender' %}
            <i> Need another sender </i>
            {% else %}
            <i> {{ r.status }} </i>
            {% endif%}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
