{%extends "partials/layout.html"%}

<!-- sender home page -->
{% block content %}
<div>
  <h3>Message</h3>
  <div>
    <pre>{{ message.content }}</pre>
  </div>

  <h3>Contact ({{ patient.patientId }})</h3>
  <p>{{ patient.mobileNumbers | join(', ') }}</p>

  <a
    href="sms:{{ patient.mobileNumbers | join(',') }}?body={{ message.content | urlencode }}"
    class="btn btn-b"
    >Send SMS</a
  >
</div>

<div class="py-100px"></div>

<form action="/sender" method="GET">
  <div>
    <input
      type="checkbox"
      id="confirmSent"
      name="confirmSent"
      value="yes"
      required
    />
    <label for="confirmSent">I have sent this message</label>
  </div>

  <button type="submit" class="btn btn-a btn-sm">Get new message</button>
</form>

{% endblock %}
